.footer {
    width: 100%;
    p {
        text-align: center;
        font-size: 12px;
        margin: 0px auto 10px auto;

        .copyright {
            color: gray;
            size: 10px;
        }
    }
}