label {
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
}

div {
    width: auto;
    align-content: center;

    .flex-init-setup {
        display: -webkit-box;
        display: -moz-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
    
    .flex-ppal-setup {
        -webkit-flex-flow: column wrap;
        -moz-flex-flow: column wrap;
        flex-flow: column wrap;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        justify-content: center;
    }

    .input-warp {
        margin-bottom: 10px;

        label {
            float: left;
            text-align: right;
            margin-right: 20px;
        }
        
        select {
            float: right;
            width: 115px;
        }
        
        input {
            float: right;
            width: 115px;
            text-align: right;
        }
    }
}

button {
    margin-top: 25px;
    margin-bottom: 25px;
    display: inline-block;
    padding: 8px 24px;
    color: white;
    opacity: 0.8;
    border-radius: 4px;
    background-color: #52da4d;
    cursor: pointer;
    box-shadow: 0 5px #34a35e;

    &:active {
        position: relative;
        top: 7px;
        box-shadow: none;
    }
}