label {
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
}

div {
    width: 400px;
    align-content: center;

    .flex-init-setup {
        display: -webkit-box;
        display: -moz-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
    
    .flex-ppal-setup {
        -webkit-flex-flow: column wrap;
        -moz-flex-flow: column wrap;
        flex-flow: column wrap;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        justify-content: center;
    }

    // .container {
    //     display: flex;
    //     flex-direction: column;
    // }
}

button {
    size: 25%;
}